<?xml version="1.0"?>
<config>
    <modules>
        <override_promo>
            <version>0.1.1</version>
        </override_promo>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <promo_quote_edit_tab_main>override_promo_Block_Adminhtml_Edit_Tab_Main</promo_quote_edit_tab_main>
                </rewrite>
            </adminhtml>
        </blocks>
	</global>
</config>
